Repository rapidsai/dask-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/daskcuda-python-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Update RAPIDS dependencies files
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

Build and test with CUDA 12.5.1
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Update docs
  docs/source/install.rst
Owners: none

Build and test with CUDA 12.5.1 (#1357)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/install.rst
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use workflow branch 24.08 again (#1359)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

DOC v24.10 Updates [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  ci/build_docs.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/explicit_comms.rst
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Use verify-alpha-spec hook
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Use verify-alpha-spec hook (#1360)
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Add argument to enable cuDF spilling and set statistics
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
Owners: @rapidsai/daskcuda-python-codeowners

Add cuDF spilling argument tests
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Owners: @rapidsai/daskcuda-python-codeowners

Fix linting
  dask_cuda/cli.py
  dask_cuda/plugins.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Owners: @rapidsai/daskcuda-python-codeowners

split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Add warning when enabling cuDF spilling and JIT-Unspill
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
Owners: @rapidsai/daskcuda-python-codeowners

Add arguments to enable cuDF spilling and set statistics (#1362)
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Owners: @rapidsai/daskcuda-python-codeowners

split up CUDA-suffixed dependencies in dependencies.yaml (#1364)
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

consolidate cuda_suffixed=false blocks in dependencies.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

fix update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

pre-commit
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

consolidate cuda_suffixed=false blocks in dependencies.yaml, fix update-version.sh (#1367)
  ci/release/update-version.sh
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Replace cuDF (de)serializer with cuDF spill-aware (de)serializer
  dask_cuda/__init__.py
Owners: @rapidsai/daskcuda-python-codeowners

Test cuDF spilling with `enable_cudf_spill`
  dask_cuda/tests/test_spill.py
Owners: @rapidsai/daskcuda-python-codeowners

Add cuDF spilling test with `LocalCUDACluster`
  dask_cuda/tests/test_spill.py
Owners: @rapidsai/daskcuda-python-codeowners

Enable cuDF spilling in `LocalCUDACluster` client/scheduler process
  dask_cuda/local_cuda_cluster.py
Owners: @rapidsai/daskcuda-python-codeowners

Add cuDF spill warning in `dask cuda worker`
  dask_cuda/cuda_worker.py
Owners: @rapidsai/daskcuda-python-codeowners

Add cuDF spill warning test
  dask_cuda/tests/test_dask_cuda_worker.py
Owners: @rapidsai/daskcuda-python-codeowners

Add comments on cuDF spill registration function
  dask_cuda/__init__.py
Owners: @rapidsai/daskcuda-python-codeowners

add new remote-io benchmark
  dask_cuda/benchmarks/custom/__init__.py
  dask_cuda/benchmarks/custom/parquet.py
  dask_cuda/benchmarks/remote_parquet.py
Owners: @rapidsai/daskcuda-python-codeowners

use fragment_parallelism
  dask_cuda/benchmarks/custom/parquet.py
Owners: @rapidsai/daskcuda-python-codeowners

Replace cuDF (de)serializer with cuDF spill-aware (de)serializer (#1369)
  dask_cuda/__init__.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_spill.py
Owners: @rapidsai/daskcuda-python-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

#python code owners
dask_cuda/  @rapidsai/daskcuda-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
