Repository rapidsai/dask-cuda, pull requests merged in 2020-12, with the labels that each got.

#454 Fix `pip install` issues w/new resolver
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#456 Make threads per worker consistent
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: 3 - Ready for Review, feature request, non-breaking

#458 ProxyObject support of less-than, greater-than, equal, etc.
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxy.py
Labels: 4 - Needs Reviewer, improvement, non-breaking, python

#459 ProxyObject: support of pickle
  dask_cuda/device_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#462 Add note on RMM pool docs mentioning its per worker [skip ci]
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  docs/source/worker.rst
Labels: 3 - Ready for Review, doc, non-breaking

#463 Fix typo
  docs/source/specializations.rst
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#440 Gpuciscripts clean and update
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload-anaconda.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/release/update-version.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#470 Update changelog for 0.17
  CHANGELOG.rst
Labels: 3 - Ready for Review, doc, non-breaking

#466 Restore `setup.py` bits for PyPI
  MANIFEST.in
  setup.py
Labels: 5 - Ready to Merge, bug, non-breaking

#428 Add support for connecting a CUDAWorker to a cluster object
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking, proposal

#474 Fix PyPI Uploads [skip-ci]
  ci/cpu/build.sh
Labels: 3 - Ready for Review

#477 CI: cleanup style check
  .pre-commit-config.yaml
  ci/checks/style.sh
  dask_cuda/__init__.py
  dask_cuda/cuda_worker.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxy.py
  setup.cfg
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking
