Repository rapidsai/dask-cuda, pull requests merged in 2021-03, with the labels that each got.

#543 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#542 Add option to enable RMM logging
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: 5 - Ready to Merge, feature request, non-breaking, python

#507 Test broadcast merge in local_cudf_merge benchmark
  dask_cuda/benchmarks/local_cudf_merge.py
Labels: 5 - Ready to Merge, improvement, non-breaking, python

#546 Install Dask + Distributed from `main`
  ci/cpu/build.sh
  ci/gpu/build.sh
  dask_cuda/tests/test_explicit_comms.py
Labels: 5 - Ready to Merge, bug, gpuCI, non-breaking, python

#545 Improve UCX documentation and examples
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  docs/requirements.txt
  docs/source/api.rst
  docs/source/ucx.rst
Labels: 2 - In Progress, doc, non-breaking, python

#550 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#548 cuDF-style operations & NVTX annotations for local CuPy benchmark
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/utils.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#553 Add column masking operation for CuPy benchmarking
  dask_cuda/benchmarks/local_cupy.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#551 Add standalone examples of UCX usage
  docs/source/ucx.rst
  examples/ucx/client_initialize.py
  examples/ucx/dask_cuda_worker.sh
  examples/ucx/local_cuda_cluster.py
Labels: 5 - Ready to Merge, doc, non-breaking

#555 Fix list to tuple conversion
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#556 Fix UCX examples for InfiniBand
  examples/ucx/client_initialize.py
  examples/ucx/dask_cuda_worker.sh
  examples/ucx/local_cuda_cluster.py
Labels: 5 - Ready to Merge, improvement, non-breaking
