Repository rapidsai/dask-cuda, pull requests merged in 2021-05, with the labels that each got.

#598 Remove unused serialization functions
  dask_cuda/device_host_file.py
Labels: 3 - Ready for Review, improvement, non-breaking

#599 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#600 ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: gpuCI, improvement, non-breaking

#603 JIT-Unspill Compatibility Mode
  dask_cuda/__init__.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: 5 - Ready to Merge, improvement, non-breaking, python

#605 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#609 Pass compiler environment variables to conda python build
  conda/recipes/dask-cuda/meta.yaml
Labels: conda, improvement, non-breaking

#604 Document DASK_JIT_UNSPILL
  docs/source/examples/spilling.rst
  docs/source/index.rst
  docs/source/spilling.rst
Labels: 2 - In Progress, doc, non-breaking

#612 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: gpuCI, improvement, non-breaking

#614 Add PROJECTS var [skip ci]
  ci/docs/build.sh
Labels: bug, gpuCI, non-breaking

#613 Fix DGX tests for UCX 1.10+
  dask_cuda/tests/test_dgx.py
Labels: improvement, non-breaking, python

#615 Update RTD site to redirect to RAPIDS docs
  .readthedocs.yml
  rtd/Makefile
  rtd/conf.py
  rtd/index.rst
  rtd/templates/redirect.html
Labels: 3 - Ready for Review, doc, non-breaking

#616 Bump docs copyright year
  docs/source/conf.py
Labels: 3 - Ready for Review, doc, non-breaking

#617 Fixing Dataframe merge benchmark
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
Labels: 3 - Ready for Review, improvement, non-breaking

#618 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#619 Fix DGX tests for UCX 1.9
  dask_cuda/tests/test_dgx.py
Labels: 3 - Ready for Review, bug, non-breaking

#620 Disable reuse endpoints with UCX >= 1.11
  dask_cuda/utils.py
Labels: 3 - Ready for Review, feature request, non-breaking, python

#623 Handle `import`ing relocated dispatch functions
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_ucx_options.py
Labels: bug, non-breaking, python

#625 Adding profiling to dask shuffle
  dask_cuda/benchmarks/local_cudf_shuffle.py
Labels: 3 - Ready for Review, improvement, non-breaking, python
