Repository rapidsai/dask-cuda, pull requests merged in 2021-04, with the labels that each got.

#442 Add capability to log spilling
  dask_cuda/device_host_file.py
  dask_cuda/local_cuda_cluster.py
Labels: 5 - Ready to Merge, feature request, non-breaking, python

#562 Remove kwargs from `LocalCUDACluster`
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_spill.py
Labels: 5 - Ready to Merge, feature request, non-breaking, python

#563 Remove `--death-timeout` from option from `dask-cuda-worker`
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/tests/test_spill.py
Labels: 5 - Ready to Merge, bug, non-breaking, python

#523 Explicit-comms: lock workers
  dask_cuda/explicit_comms/comms.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#566 Add support for `CudaAsyncMemoryResource`
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: 5 - Ready to Merge, feature request, non-breaking, python

#561 Update API reference and examples in docs
  .gitignore
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_spill.py
  docs/requirements.txt
  docs/source/api.rst
  docs/source/conf.py
  docs/source/examples/spilling.rst
  docs/source/examples/ucx.rst
  docs/source/examples/worker_count.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/quickstart.rst
  docs/source/specializations.rst
  docs/source/ucx.rst
  docs/source/worker.rst
Labels: 3 - Ready for Review, doc, non-breaking, python

#577 Unblock CI by xfailing test_dataframe_merge_empty_partitions
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#576 Clarify Python requirements
  setup.py
Labels: 5 - Ready to Merge, bug, non-breaking

#570 support space in workspace
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/local/build.sh
Labels: bug, gpuCI, non-breaking

#572 Add --interface and --no-silence-logs options to benchmarks
  dask_cuda/benchmarks/utils.py
Labels: 3 - Ready for Review, feature request, non-breaking, python

#578 Add sphinx-click to docs Conda environment
  conda/environments/builddocs_py37.yml
Labels: 3 - Ready for Review, bug, conda, non-breaking

#573 Make package versions consistent between Conda recipe and `requirements.txt`
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#585 Pin Dask and Distributed <=2021.04.0
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: 3 - Ready for Review, bug, conda, gpuCI, non-breaking

#586 [RELEASE] v0.19 dask-cuda
  CHANGELOG.md
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/utils.py
  docs/requirements.txt
  docs/source/api.rst
  docs/source/ucx.rst
  examples/ucx/client_initialize.py
  examples/ucx/dask_cuda_worker.sh
  examples/ucx/local_cuda_cluster.py
  requirements.txt
Labels: conda, doc, gpuCI, python

#584 Replace weight by safe_sizeof
  dask_cuda/device_host_file.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#568 Proxify ignore some types
  dask_cuda/get_device_memory_objects.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#580 Add docs CI build script
  ci/docs/build.sh
Labels: 5 - Ready to Merge, gpuCI, improvement, non-breaking

#590 Fix Forward Merge Conflicts
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: conda, improvement, non-breaking

#591 Fix forward-merge conflicts [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#592 Explicit-comms shuffle: make sure partition order are maintained
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#589 docs: adding an explicit-comms section
  docs/source/api.rst
  docs/source/explicit_comms.rst
  docs/source/index.rst
Labels: 3 - Ready for Review, doc, non-breaking

#574 Package license file
  setup.py
Labels: 3 - Ready for Review, bug, non-breaking

#593 Explicit comms shuffle: sort workers when assigning output partitions
  dask_cuda/explicit_comms/dataframe/shuffle.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#594 Removing explicit-comms's dataframe merge
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/explicit_comms/dataframe/merge.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, breaking, improvement, python

#529 Adjust tests to work with UCX 1.10+
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_ucx_options.py
  dask_cuda/utils.py
Labels: 0 - Blocked, feature request, non-breaking, python

#596 ENH Remove defaults channel from conda build
  conda/recipes/dask-cuda/meta.yaml
Labels: 3 - Ready for Review, conda, improvement, non-breaking
