Repository rapidsai/dask-cuda, pull requests merged in 2021-07, with the labels that each got.

#669 Update documentation on InfiniBand with UCX >= 1.11
  docs/source/ucx.rst
Labels: 3 - Ready for Review, doc, non-breaking

#670 Add --protocol flag to dask-cuda-worker
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
Labels: 5 - Ready to Merge, bug, non-breaking, python

#672 Treat Deprecation/Future warnings as errors
  ci/gpu/build.sh
  dask_cuda/utils.py
Labels: 3 - Ready for Review, feature request, gpuCI, non-breaking, python

#673 Fix DGX tests warnings on RMM pool size and file not closed
  dask_cuda/tests/test_dgx.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#671 Fix NVML index usage in CUDAWorker/LocalCUDACluster
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#680 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
Labels: python

#682 Bump isort hook version
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking

#681 Deprecation warning for ucx_net_devices='auto' on UCX 1.11+
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/utils.py
  docs/source/ucx.rst
Labels: 3 - Ready for Review, doc, non-breaking, python

#683 Add device memory limit argument to benchmarks
  dask_cuda/benchmarks/utils.py
Labels: 3 - Ready for Review, feature request, non-breaking, python

#687 Don't install Dask main branch in CI for 21.08 release
  ci/gpu/build.sh
Labels: 3 - Ready for Review, bug, non-breaking

#688 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  ci/gpu/build.sh
Labels: gpuCI

#685 Skip test_get_ucx_net_devices_raises on UCX >= 1.11.0
  dask_cuda/tests/test_utils.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#686 Pin max `dask` & `distributed` versions
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: conda, improvement, non-breaking

#692 Use aliases to check for installed UCX version
  dask_cuda/tests/test_dgx.py
  dask_cuda/utils.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#695 Update UCX config namespace
  ci/gpu/build.sh
  dask_cuda/cuda_worker.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_initialize.py
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking, python

#675 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking
