Repository rapidsai/dask-cuda, pull requests merged in 2021-01, with the labels that each got.

#485 Fail if scheduler starts with '-' in dask-cuda-worker
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/tests/test_dask_cuda_worker.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#451 Individual CUDA object spilling
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/get_device_memory_objects.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#487 Fix usage of --dashboard-address in dask-cuda-worker
  dask_cuda/cuda_worker.py
  dask_cuda/tests/test_dask_cuda_worker.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#488 Extend CuPy benchmark with more operations
  dask_cuda/benchmarks/local_cupy.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#489 Add --threads-per-worker option to benchmarks
  dask_cuda/benchmarks/utils.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#490 Work on deadlock issue 431
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/utils.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#492 Proxify register lazy
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#496 Shuffle benchmark
  ci/gpu/build.sh
  dask_cuda/benchmarks/local_cudf_shuffle.py
Labels: 5 - Ready to Merge, feature request, non-breaking

#497 proxy_object: cleanup type dispatching
  dask_cuda/proxy_object.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#500 Hostfile: register the removal of an existing key
  dask_cuda/device_host_file.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#501 JIT-unspill: fix potential deadlock
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#503 ProxyObject: ignore initial fixed attribute errors
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxy.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#504 remove conditional check to start conda uploads
  ci/cpu/upload.sh
Labels: 3 - Ready for Review, improvement, non-breaking
