Repository rapidsai/dask-cuda, pull requests merged in 2021-11, with the labels that each got.

#768 Simplify JIT-unspill and writing docs
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#771 gc.collect when spilling on demand
  dask_cuda/proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#770 Reenable explicit comms tests
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, improvement, non-breaking

#754 Revert "Temporarily skipping some tests because of a bug in Dask (#753)"
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_proxy.py
Labels: python, 5 - Merge After Dependencies, improvement, non-breaking

#774 Test of sizeof proxy object
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxy.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#775 Avoid proxy object aliasing
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#777 Add troubleshooting page with PCI Bus ID issue description
  docs/source/index.rst
  docs/source/troubleshooting.rst
Labels: 3 - Ready for Review, doc, non-breaking

#779 Tally IDs instead of device buffers directly
  dask_cuda/get_device_memory_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#784 Ignore deprecation warnings from pkg_resources
  ci/gpu/build.sh
  pytest.ini
Labels: bug, 2 - In Progress, non-breaking, gpuCI

#780 Fix parsing of device by UUID
  dask_cuda/initialize.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#782 Logging when RMM allocation fails
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: 4 - Needs Reviewer, python, 3 - Ready for Review, improvement, non-breaking

#787 Use unittest.mock.patch for all os.environ tests
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#791 Disk IO interface
  dask_cuda/disk_io.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#797 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking

#801 Add create_cuda_context UCX config from Distributed
  dask_cuda/utils.py
Labels: bug, 3 - Ready for Review, non-breaking

#800 Fix spill-to-disk triggered by Dask explicitly
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#799 Handle UCX-Py FutureWarning on UCX < 1.11.1 deprecation
  pytest.ini
Labels: 3 - Ready for Review, feature request, non-breaking

#802 Fixed `ProxyObject.__del__` to use the new Disk IO API from #791
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#807 Remove automatic `doc` labeler
  .github/labeler.yml
Labels: bug, 3 - Ready for Review, non-breaking

#794 [REVIEW] Pin max `dask` & `distributed` versions
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: 2 - In Progress, feature request, non-breaking, gpuCI, conda

#805 Update to UCX-Py 0.24
  ci/gpu/build.sh
Labels: bug, 3 - Ready for Review, non-breaking

#806 Standardize Distributed config separator in get_ucx_config
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
Labels: python, improvement, non-breaking

#793 GPUDirect Storage (GDS) support for spilling
  ci/gpu/build.sh
  dask_cuda/disk_io.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_gds.py
Labels: python, 3 - Ready for Review, improvement, non-breaking, gpuCI

#810 Unpin Dask and Distributed versions
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: bug, 3 - Ready for Review, non-breaking, gpuCI, conda

#812 Clarify `LocalCUDACluster`'s `n_workers` docstrings
  dask_cuda/local_cuda_cluster.py
Labels: 3 - Ready for Review, doc, non-breaking

#767 Update test_spill to use cuDF's memory_usage()
  dask_cuda/tests/test_spill.py
Labels: python, 5 - Merge After Dependencies, improvement, non-breaking
