Repository rapidsai/dask-cuda, pull requests merged in 2021-08, with the labels that each got.

#674 Support for LocalCUDACluster with MIG
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  requirements.txt
Labels: 3 - Ready for Review, feature request, non-breaking, python

#700 Add `--benchmark-json` option to all benchmarks
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#701 Skip DGX InfiniBand tests when "rc" transport is unavailable
  dask_cuda/tests/test_dgx.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#699 Remove Distributed tests from CI
  ci/gpu/build.sh
Labels: proposal, 3 - Ready for Review, feature request, non-breaking, gpuCI

#702 Reset UCX-Py after rdmacm tests run
  dask_cuda/tests/test_dgx.py
Labels: bug, 3 - Ready for Review, non-breaking

#703 Missing fixes to Distributed config namespace refactoring
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_ucx_options.py
  docs/source/examples/ucx.rst
  examples/ucx/dask_cuda_worker.sh
Labels: bug, 3 - Ready for Review, non-breaking

#707 Forward-merge branch-21.08 to branch-21.10 [skip gpuci]
  CHANGELOG.md
Labels: doc, non-breaking

#706 Tests: replacing the obsolete cudf.testing._utils.assert_eq calls
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, improvement, non-breaking

#705 JIT-unspill: warn when spill to disk triggers
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#710 Update to UCX-Py 0.22
  ci/gpu/build.sh
Labels: bug, 3 - Ready for Review, non-breaking, gpuCI
