Repository rapidsai/dask-cuda, pull requests merged in 2021-09, with the labels that each got.

#718 [REVIEW] Fix registering correct dispatches for `cudf.Index`
  dask_cuda/is_device_object.py
  dask_cuda/proxify_device_objects.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#716 [REVIEW] Register `percentile_lookup` for `FrameProxyObject`
  dask_cuda/proxify_device_objects.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#712 Fix deadlock and simplify proxy tracking
  dask_cuda/device_host_file.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/get_device_memory_objects.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#720 Update more docs for UCX 1.11+
  docs/source/examples/ucx.rst
  docs/source/ucx.rst
Labels: 3 - Ready for Review, doc, non-breaking

#719 Warn if CUDA context is created on incorrect device with `LocalCUDACluster`
  dask_cuda/initialize.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#722 Check if CUDA context was created in distributed.comm.ucx
  dask_cuda/initialize.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#729 Handle `ucp` import error during `initialize()`
  dask_cuda/initialize.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#723 Use `has_cuda_context` from Distributed
  dask_cuda/initialize.py
  dask_cuda/utils.py
Labels: python, improvement, non-breaking

#708 JIT-unspill: support spilling to/from disk
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#733 Implements a ProxyManagerDummy for convenience
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
Labels: 4 - Needs Reviewer, improvement, non-breaking

#735 Pin max `dask` and `distributed` versions to `2021.09.1`
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: improvement, non-breaking, gpuCI, conda

#737 Prevent CUDA context errors when testing on single-GPU
  ci/gpu/build.sh
  dask_cuda/initialize.py
Labels: bug, python, 3 - Ready for Review, non-breaking, gpuCI

#738 Drop test setting UCX global options via Dask config
  dask_cuda/tests/test_ucx_options.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#742 Unpin `dask` & `distributed` in CI
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: improvement, non-breaking, gpuCI, conda
