Repository rapidsai/dask-cuda, pull requests merged in 2021-06, with the labels that each got.

#636 Update UCX-Py version in CI to 0.21.*
  ci/gpu/build.sh
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking

#637 [REVIEW] Add `make_meta_dispatch` handling
  dask_cuda/proxy_object.py
Labels: bug, non-breaking, python

#642 Update UCX-Py version to 0.20
  ci/gpu/build.sh
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking

#645 Disable install Dask master in CI
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  requirements.txt
Labels: 3 - Ready for Review, bug, conda, gpuCI, non-breaking, python

#647 Remove Dask version pin
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: 3 - Ready for Review, bug, conda, gpuCI, non-breaking

#638 Fix CUDA_VISIBLE_DEVICES tests
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#648 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#651 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#655 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
Labels: improvement, non-breaking

#658 get_device_memory_objects(): dispatch on cudf.core.frame.Frame
  ci/gpu/build.sh
  dask_cuda/get_device_memory_objects.py
Labels: 2 - In Progress, gpuCI, improvement, non-breaking, python

#661 Remove dot calling style for pytest
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, improvement, non-breaking

#656 Small tweaks to make compatible with dask-mpi
  dask_cuda/__init__.py
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  rtd/conf.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#662 Update parse_bytes imports to resolve deprecation warnings
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/utils.py
Labels: 5 - Ready to Merge, feature request, non-breaking, python

#663 [REVIEW] Fix `assert_eq` related imports
  dask_cuda/tests/test_explicit_comms.py
Labels: 3 - Ready for Review, bug, non-breaking, python
