Repository rapidsai/dask-cuda, pull requests merged in 2021-02, with the labels that each got.

#509 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
  CHANGELOG.rst
Labels: improvement, non-breaking

#511 Fixing fixed-attribute-proxy-object-test
  dask_cuda/tests/test_proxy.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#494 Redesign and implementation of dataframe shuffle
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/dataframe_merge.py
  dask_cuda/explicit_comms/dataframe_shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#450 [REVIEW] FIX Move codecov upload to gpu build script
  ci/gpu/build.sh
Labels: 4 - Waiting on Author, improvement, non-breaking

#518 Fix device synchronization in local_cupy benchmark
  dask_cuda/benchmarks/local_cupy.py
Labels: 5 - Ready to Merge, bug, non-breaking

#524 Add operations/arguments to local CuPy array benchmark
  dask_cuda/__init__.py
  dask_cuda/benchmarks/local_cupy.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#528 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#531 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#480 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 3 - Ready for Review, improvement, non-breaking

#533 Add device synchonization for local CuPy benchmarks with Dask profiling
  dask_cuda/benchmarks/local_cupy.py
  docs/source/conf.py
Labels: 5 - Ready to Merge, doc, non-breaking, python

#537 Replace compute() calls on CuPy benchmarks by persist()
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
Labels: 3 - Ready for Review, bug, non-breaking, python

#539 Add --enable-rdmacm flag to benchmarks utils
  dask_cuda/benchmarks/utils.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#527 ProxifyHostFile: tracking of external objects
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: 5 - Ready to Merge, improvement, non-breaking, python
