Repository rapidsai/dask-cuda, pull requests merged in 2022-02, with the labels that each got.

#845 test_gds: skip if GDS is not available
  dask_cuda/tests/test_gds.py
Labels: 3 - Ready for Review, improvement, non-breaking

#847 [REVIEW] Unpin max dask and distributed
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: improvement, non-breaking, gpuCI, conda

#849 ProxyObject to support matrix multiplication
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxy.py
Labels: 2 - In Progress, python, improvement, non-breaking

#839 [RELEASE] dask-cuda v22.02
  CHANGELOG.md
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/disk_io.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_gds.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  docs/source/examples/ucx.rst
  docs/source/ucx.rst
  pytest.ini
  requirements.txt
Labels: python, gpuCI, conda

#852 Remove description from non-existing `--nprocs` CLI argument
  dask_cuda/cli/dask_cuda_worker.py
Labels: python, 3 - Ready for Review, doc, non-breaking

#857 Increase test_worker_force_spill_to_disk timeout
  dask_cuda/tests/test_proxify_host_file.py
Labels: bug, 3 - Ready for Review, non-breaking

#854 Add --pre-import/pre_import argument
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#856 Introduce incompatible-types and enables spilling of CuPy arrays
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, breaking

#862 Implement ProxifyHostFile.evict()
  dask_cuda/proxify_host_file.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#853 Spill to disk clean up
  dask_cuda/disk_io.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_gds.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#830 Remove support for UCX < 1.11.1
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  dask_cuda/worker_spec.py
  docs/source/examples/ucx.rst
  docs/source/ucx.rst
  examples/ucx/client_initialize.py
  examples/ucx/local_cuda_cluster.py
  pytest.ini
Labels: python, 3 - Ready for Review, feature request, non-breaking

#842 Add option to track RMM allocations
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking
