Repository rapidsai/dask-cuda, pull requests merged in 2022-09, with the labels that each got.

#985 benchmarks: Add option to suppress output of point to point data
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#993 Address CI failures caused by upstream distributed and cupy changes
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
Labels: bug, 2 - In Progress, python, non-breaking

#992 Update rearrange_by_column patch for explicit comms
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
  docs/source/explicit_comms.rst
Labels: 5 - Ready to Merge, python, improvement, non-breaking

#1001 Revert "Update rearrange_by_column patch for explicit comms"
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
  docs/source/explicit_comms.rst
Labels: bug, 5 - Ready to Merge, python, non-breaking
