Repository rapidsai/dask-cuda, pull requests merged in 2022-03, with the labels that each got.

#870 Make Dask CUDA work with the new WorkerMemoryManager abstraction
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_spill.py
Labels: python, improvement, non-breaking

#872 [REVIEW] Upgrade min `dask` & `distributed` versions
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: improvement, non-breaking, conda

#878 [REVIEW] Pin `dask` & `distributed`
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: improvement, non-breaking

#880 Temporarily disable new `ops-bot` functionality [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#883 Resolve build issues / consistency with conda-forge packages
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
  setup.py
Labels: bug, 3 - Ready for Review, non-breaking, conda

#885 Raise `ImportError` when platform is not Linux
  dask_cuda/__init__.py
Labels: python, 3 - Ready for Review, improvement, non-breaking
