Repository rapidsai/dask-cuda, pull requests merged in 2022-04, with the labels that each got.

#888 [RELEASE] dask-cuda v22.04
  .github/ops-bot.yaml
  CHANGELOG.md
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/disk_io.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_gds.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  dask_cuda/worker_spec.py
  docs/source/examples/ucx.rst
  docs/source/ucx.rst
  examples/ucx/client_initialize.py
  examples/ucx/local_cuda_cluster.py
  pytest.ini
  requirements.txt
  setup.py
Labels: python, conda

#892 [REVIEW] Unpin `dask` & `distributed` for development
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: improvement, non-breaking, gpuCI, conda

#894 Use upstream warning functions for CUDA initialization
  dask_cuda/initialize.py
Labels: python, 3 - Ready for Review, doc, non-breaking

#896 Update auto host_memory computation when threads per worker > 1
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#898 Add documentation for `RAPIDS_NO_INITIALIZE`
  dask_cuda/explicit_comms/comms.py
  docs/source/examples/ucx.rst
  docs/source/ucx.rst
Labels: python, 3 - Ready for Review, doc, non-breaking

#899 Skip tests on import error for some optional packages
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxy.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#900 Fix errors related with `distributed.worker.memory.terminate`
  dask_cuda/tests/test_proxify_host_file.py
Labels: bug, 5 - Ready to Merge, python, non-breaking

#901 Increase spill tests timeout to 30 seconds
  dask_cuda/tests/test_spill.py
Labels: bug, 3 - Ready for Review, non-breaking

#902 Fix ci/local script
  ci/local/build.sh
Labels: improvement, non-breaking, gpuCI

#903 Disable `include-ignored` coverage warnings
  .coveragerc
Labels: 3 - Ready for Review, improvement, non-breaking
