Repository rapidsai/dask-cuda, pull requests merged in 2022-08, with the labels that each got.

#963 [REVIEW] Fix `distributed` error related to `loop_in_thread`
  dask_cuda/tests/test_dask_cuda_worker.py
Labels: bug, python, non-breaking

#965 [REVIEW] Pin `dask` & `distributed` for release
  ci/gpu/build.sh
  requirements.txt
Labels: improvement, non-breaking, gpuCI

#967 [REVIEW] Switch docs to use common `js` & `css` code
  docs/source/conf.py
Labels: doc, non-breaking

#971 Unpin `dask` and `distributed` for development
  ci/gpu/build.sh
  requirements.txt
Labels: improvement, non-breaking, gpuCI

#977 DeviceSerialized.__reduce_ex__: convert frame to numpy arrays
  dask_cuda/device_host_file.py
Labels: bug, python, non-breaking

#969 [RELEASE] dask-cuda v22.08
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/get_device_memory_objects.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  docs/source/conf.py
  docs/source/ucx.rst
  pytest.ini
  requirements.txt
  setup.py
Labels: python, gpuCI, conda

#976 Dask-cuda best practices
  docs/source/examples/best-practices.rst
  docs/source/examples/worker_count.rst
  docs/source/index.rst
Labels: doc, non-breaking

#982 Remove line-break that's breaking link
  docs/source/examples/best-practices.rst
Labels: 3 - Ready for Review, doc, non-breaking
