Repository rapidsai/dask-cuda, pull requests merged in 2022-12, with the labels that each got.

#1046 [REVIEW] Pin `dask` and `distributed` for release
  ci/cpu/build.sh
  ci/gpu/build.sh
  pyproject.toml
Labels: improvement, non-breaking, gpuCI

#1063 Enable copy_prs. [skip gpuci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#1059 [RELEASE] dask-cuda v22.12
  .coveragerc
  .flake8
  .github/workflows/stale.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  MANIFEST.in
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/builddocs_py37.yml
  conda/recipes/dask-cuda/build.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/_version.py
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_config.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/get_device_memory_objects.py
  dask_cuda/initialize.py
  dask_cuda/is_spillable_object.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_cudf_builtin_spilling.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_gds.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  docs/requirements.txt
  docs/source/conf.py
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.cfg
  setup.py
  versioneer.py
Labels: python, gpuCI, conda

#1060 [REVIEW] Unpin `dask` and `distributed` for development
  ci/cpu/build.sh
  ci/gpu/build.sh
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  pyproject.toml
Labels: python, improvement, non-breaking, gpuCI

#1067 Reorder channel priority.
  docs/source/install.rst
Labels: bug, non-breaking
