Repository rapidsai/dask-cuda, pull requests merged in 2022-05, with the labels that each got.

#905 Removing test of `cudf.merge_sorted()`
  dask_cuda/tests/test_proxy.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#908 Add xfail mark to `test_pre_import_not_found`
  dask_cuda/tests/test_dask_cuda_worker.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#897 Use conda to build python packages during GPU tests
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
Labels: improvement, non-breaking, gpuCI, conda

#912 [REVIEW] Upgrade `numba` pinning to be in-line with rest of rapids
  dask_cuda/tests/test_proxify_host_file.py
  requirements.txt
Labels: python, improvement, breaking

#846 Build packages using mambabuild
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: improvement, non-breaking, gpuCI

#914 Update ImportError tests with --pre-import
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: bug, 0 - Blocked, python, 3 - Ready for Review, non-breaking

#916 [REVIEW] Pin `dask` & `distributed` for release
  ci/gpu/build.sh
  requirements.txt
Labels: improvement, non-breaking, gpuCI

#918 Reduce `test_cudf_cluster_device_spill` test and speed it up
  dask_cuda/tests/test_spill.py
Labels: bug, 3 - Ready for Review, non-breaking

#922 [REVIEW] Pin `dask` and `distributed` for release
  ci/gpu/build.sh
  requirements.txt
Labels: 3 - Ready for Review, improvement, non-breaking, gpuCI
