Repository rapidsai/dask-cuda, pull requests merged in 2022-06, with the labels that each got.

#929 Remove compiler variables
  conda/recipes/dask-cuda/meta.yaml
Labels: improvement, non-breaking, conda

#932 Remove click pinning
  requirements.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#934 Remove deprecated `loop` kwarg to `Nanny` in `CUDAWorker`
  dask_cuda/cuda_worker.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#927 [REVIEW] Unpin `dask` & `distributed` for development
  ci/gpu/build.sh
  requirements.txt
Labels: improvement, non-breaking, gpuCI

#939 [REVIEW] Switch `language` from `None` to `"en"` in docs build
  docs/source/conf.py
Labels: doc, non-breaking

#937 Add util functions to simplify printing benchmarks results
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
Labels: 3 - Ready for Review, improvement, non-breaking

#938 Add communications bandwidth to benchmarks
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#933 Add --multiprocessing-method option to benchmarks
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli/dask_cuda_worker.py
  docs/source/ucx.rst
Labels: 2 - In Progress, python, improvement, non-breaking
