Repository rapidsai/dask-cuda, pull requests merged in 2022-07, with the labels that each got.

#940 Benchmark refactoring: tidy data and multi-node capability via `--scheduler-file`
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#941 ProxyManager: support `memory_limit=None`
  dask_cuda/proxify_host_file.py
Labels: bug, 3 - Ready for Review, non-breaking

#943 LocalCUDACluster's memory limit: `None` means no limit
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#945 benchmarks: Record total number of workers in dataframe
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#944 Fix useless property
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
Labels: bug, 3 - Ready for Review, breaking

#946 Test memory_limit=None for CUDAWorker
  dask_cuda/tests/test_local_cuda_cluster.py
  pytest.ini
Labels: python, 3 - Ready for Review, improvement, non-breaking

#947 Do not dispatch removed `cudf.Frame._index` object
  dask_cuda/get_device_memory_objects.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#948 Always use versioneer command classes in setup.py
  conda/recipes/dask-cuda/meta.yaml
  setup.py
Labels: bug, 3 - Ready for Review, non-breaking, conda

#960 Add `__rmatmul__` to `ProxyObject`
  dask_cuda/proxy_object.py
Labels: bug, python, non-breaking

#962 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  dask_cuda/proxy_object.py
Labels: python
