Repository rapidsai/dask-cuda, pull requests merged in 2022-11, with the labels that each got.

#1029 Install Dask nightly last in CI
  ci/gpu/build.sh
Labels: bug, 3 - Ready for Review, non-breaking, gpuCI

#1033 Support the new `Buffer` in cudf
  dask_cuda/get_device_memory_objects.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: bug, python, non-breaking

#1023 Make local_directory a required argument for spilling impls
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_gds.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: bug, python, 3 - Ready for Review, breaking

#1036 Fix version constraint
  dask_cuda/device_host_file.py
Labels: bug, non-breaking

#1041 Work around Jupyter errors in CI
  ci/gpu/build.sh
Labels: bug, 3 - Ready for Review, non-breaking, gpuCI

#950 Fixes for handling MIG devices
  dask_cuda/initialize.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: bug, python, 3 - Ready for Review, non-breaking, inactive-30d

#1045 Remove `pytest-asyncio` dependency
  ci/gpu/build.sh
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: python, improvement, non-breaking, gpuCI

#1047 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  ci/gpu/build.sh
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: python, gpuCI

#1035 Migrate as much as possible to `pyproject.toml`
  .coveragerc
  .flake8
  MANIFEST.in
  conda/environments/builddocs_py37.yml
  conda/recipes/dask-cuda/build.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/_version.py
  docs/requirements.txt
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.cfg
  setup.py
  versioneer.py
Labels: python, improvement, non-breaking, conda

#984 Support cuDF's built-in spilling
  dask_cuda/device_host_file.py
  dask_cuda/is_spillable_object.py
  dask_cuda/proxify_host_file.py
  dask_cuda/tests/test_cudf_builtin_spilling.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_proxify_host_file.py
  setup.py
Labels: python, improvement, non-breaking

#1052 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
Labels: python

#1055 [REVIEW] Fix `parse_memory_limit` function call
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
Labels: bug, 5 - Ready to Merge, python, non-breaking

#1053 Ensure linting checks for whole repo in CI
  .pre-commit-config.yaml
  ci/checks/style.sh
Labels: 3 - Ready for Review, improvement, non-breaking, gpuCI
