Repository rapidsai/dask-cuda, pull requests merged in 2022-10, with the labels that each got.

#1003 [REVIEW] Pin `dask` and `distributed` for release
  ci/cpu/build.sh
  ci/gpu/build.sh
  requirements.txt
Labels: 5 - Ready to Merge, improvement, non-breaking, gpuCI

#1005 [REVIEW] Unpin `dask` and `distributed` for development
  ci/cpu/build.sh
  ci/gpu/build.sh
  requirements.txt
Labels: 3 - Ready for Review, improvement, non-breaking, gpuCI

#1010 Merge 22.08 into 22.10
  CHANGELOG.md
Labels: 3 - Ready for Review, doc, non-breaking

#1008 [RELEASE] dask-cuda v22.10
  CHANGELOG.md
  ci/cpu/build.sh
  ci/gpu/build.sh
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/device_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
  docs/source/examples/best-practices.rst
  docs/source/examples/worker_count.rst
  docs/source/index.rst
  requirements.txt
Labels: python, gpuCI

#1016 Merge 22.10 into 22.12
  CHANGELOG.md
Labels: 5 - Ready to Merge, doc, non-breaking

#1006 Add feature to get cluster configuration
  dask_cuda/cli/dask_config.py
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
  setup.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1021 Allow specifying fractions as RMM pool initial/maximum size
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#994 Add benchmark option to use dask-noop
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1024 Remove stale labeler [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#1026 Switch pre-import not found test to sync definition
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: bug, 3 - Ready for Review, non-breaking

#1025 Explicit-comms-shuffle: fine control of task scheduling
  dask_cuda/explicit_comms/dataframe/shuffle.py
  docs/source/conf.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#1028 Fix recorded time in merge benchmark
  dask_cuda/benchmarks/local_cudf_merge.py
Labels: bug, python, non-breaking
