Repository rapidsai/dask-cuda, pull requests merged in 2022-01, with the labels that each got.

#823 Ignore `DeprecationWarning` from `distutils.Version` classes
  pytest.ini
Labels: bug, 3 - Ready for Review, non-breaking

#825 sizeof test: increase tolerance
  dask_cuda/tests/test_proxy.py
Labels: 3 - Ready for Review, improvement, non-breaking

#828 Add avg and std calculation for time and throughput
  dask_cuda/benchmarks/local_cudf_merge.py
Labels: 5 - Ready to Merge, python, improvement, non-breaking

#827 [REVIEW]Expose rmm-maximum_pool_size argument
  dask_cuda/cli/dask_cuda_worker.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#818 Query UCX-Py from gpuCI versioning service
  ci/gpu/build.sh
  ci/release/update-version.sh
Labels: 3 - Ready for Review, improvement, non-breaking, gpuCI

#829 Merge branch-21.12 into branch-22.02
  CHANGELOG.md
Labels: 3 - Ready for Review, doc, non-breaking, gpuCI

#832 [REVIEW] Pin `dask` & `distributed` versions
  ci/gpu/build.sh
  conda/recipes/dask-cuda/meta.yaml
  requirements.txt
Labels: 3 - Ready for Review, feature request, non-breaking, gpuCI, conda

#835 Fix Dask-CUDA version to 22.02
  docs/source/examples/ucx.rst
Labels: doc, non-breaking
