Repository rapidsai/dask-cuda, pull requests merged in 2023-08, with the labels that each got.

#1214 Pin `dask` and `distributed` for `23.08` release
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1215 Forward-merge branch-23.08 to branch-23.10
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
  pyproject.toml
Labels: conda

#1220 Avoid importing `loads_function` from distributed
  dask_cuda/proxy_object.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1221 Enable maximum pool size for RMM async allocator
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1223 Update `test_worker_timeout`
  dask_cuda/tests/test_dask_cuda_worker.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1225 Adapt to non-string task keys in distributed
  dask_cuda/device_host_file.py
  dask_cuda/explicit_comms/comms.py
Labels: bug, python, non-breaking

#1227 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#1228 Increate timeouts of tests that frequently timeout in CI
  ci/test_python.sh
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: bug, python, 3 - Ready for Review, non-breaking, ci
