Repository rapidsai/dask-cuda, pull requests merged in 2023-12, with the labels that each got.

#1289 Increase Nanny close timeout for `test_spilling_local_cuda_cluster`
  dask_cuda/tests/test_proxy.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1292 Update actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#1291 Start generating conda test environments
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking, conda

#1294 Publish nightly wheels to NVIDIA index instead of PyPI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_python_pypi.sh
  ci/build_wheel.sh
Labels: bug, 3 - Ready for Review, breaking, ci

#1287 [RELEASE] dask-cuda v23.12
  .github/workflows/build.yaml
  .github/workflows/labeler.yml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  MANIFEST.in
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_python_pypi.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/VERSION
  dask_cuda/__init__.py
  dask_cuda/_version.py
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/compat.py
  dask_cuda/cuda_worker.py
  dask_cuda/device_host_file.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_from_array.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  dask_cuda/utils_test.py
  dask_cuda/worker_spec.py
  dependencies.yaml
  pyproject.toml
Labels: python, conda, ci

#1298 Add timeout to `test_dask_use_explicit_comms`
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, python, 3 - Ready for Review, non-breaking
