Repository rapidsai/dask-cuda, pull requests merged in 2023-02, with the labels that each got.

#1101 Proxify: make duplicate check optional
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/proxify_host_file.py
Labels: python, improvement, non-breaking

#1102 Forward-merge branch-23.02 to branch-23.04
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/proxify_host_file.py
Labels: python

#1105 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, gpuCI

#1106 [REVIEW] Pin `dask` and `distributed` for release
  ci/cpu/build.sh
  ci/gpu/build.sh
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, improvement, breaking, gpuCI

#1103 Move date to build string in `conda` recipe
  conda/recipes/dask-cuda/meta.yaml
Labels: improvement, non-breaking, conda

#1112 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1109 [RELEASE] dask-cuda v23.02
  .github/CODEOWNERS
  .github/ops-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGELOG.md
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_python_pypi.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/cli/__init__.py
  dask_cuda/cli/dask_config.py
  dask_cuda/cuda_worker.py
  dask_cuda/disk_io.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/get_device_memory_objects.py
  dask_cuda/initialize.py
  dask_cuda/is_spillable_object.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_cudf_builtin_spilling.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/utils.py
  dependencies.yaml
  docs/Makefile
  docs/source/api.rst
  docs/source/examples/best-practices.rst
  docs/source/examples/ucx.rst
  docs/source/examples/worker_count.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/quickstart.rst
  docs/source/spilling.rst
  docs/source/ucx.rst
  examples/ucx/dask_cuda_worker.sh
  pyproject.toml
  rtd/Makefile
Labels: python, gpuCI, conda

#1110 [REVIEW] Unpin `dask` and `distributed` for development
  ci/cpu/build.sh
  ci/gpu/build.sh
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, gpuCI

#1113 Reduce error handling verbosity in CI tests scripts
  ci/test_python.sh
Labels: improvement, non-breaking, gpuCI

#1111 Remove gpuCI scripts.
  .github/labeler.yml
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload-pypi.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, gpuCI

#1012 Allow using stream-ordered and managed RMM allocators in benchmarks
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking, gpuCI

#1123 Pin to pynvml < 11.5
  dependencies.yaml
  pyproject.toml
Labels: bug, ! - Hotfix, non-breaking

#1124 [RELEASE] dask-cuda v23.02.01
  dependencies.yaml
  pyproject.toml
Labels: ! - Hotfix

#1128 Merge `branch-23.02` into `branch-23.04`
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking

#1120 Fix GHA build workflow
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#1121 Template Conda recipe's `about` metadata
  conda/recipes/dask-cuda/meta.yaml
Labels: improvement, non-breaking, conda

#1135 Explicit-comms: update monkey patching of Dask
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, python, non-breaking

#1132 Drop Python 3.7 handling for pickle protocol 4
  dask_cuda/tests/test_device_host_file.py
Labels: python, improvement, non-breaking

#1129 Adapt to rapidsai/rmm#1221 which moves allocator callbacks
  dask_cuda/benchmarks/utils.py
Labels: 2 - In Progress, python, improvement, non-breaking

#1116 Extend RMM async allocation support
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking
