Repository rapidsai/dask-cuda, pull requests merged in 2023-01, with the labels that each got.

#1071 Ensure consistent results from `safe_sizeof()` in test
  dask_cuda/tests/test_cudf_builtin_spilling.py
Labels: bug, python, non-breaking

#1069 Pass missing argument to groupby benchmark compute
  dask_cuda/benchmarks/local_cudf_groupby.py
Labels: bug, 5 - Ready to Merge, python, non-breaking

#1062 Add GitHub Actions Workflows
  .github/CODEOWNERS
  .github/ops-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_python.sh
  ci/build_python_pypi.sh
  ci/check_style.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking, gpuCI, conda

#1072 Update builds for CUDA `11.8` and Python `310`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking

#1061 Fix owner check when the owner is a cupy array
  dask_cuda/get_device_memory_objects.py
Labels: bug, python, non-breaking

#1074 Improve shuffle-benchmark
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/explicit_comms/comms.py
Labels: python, improvement, non-breaking

#1082 Add timeout to `pytest` command
  ci/test_python.sh
Labels: improvement, non-breaking, gpuCI

#1084 Make proxy tests with `LocalCUDACluster` asynchronous
  dask_cuda/tests/test_proxy.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1085 Use `pkgutil.iter_modules` to get un-imported module for `test_pre_import`
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: bug, python, non-breaking

#1080 Ensure tests run for Python `3.10`
  .github/workflows/pr.yaml
  ci/release/update-version.sh
  dependencies.yaml
Labels: improvement, non-breaking, gpuCI

#1089 add initial docs build
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  dependencies.yaml
Labels: improvement, non-breaking, gpuCI

#1090 shuffle: use cuDF's `partition_by_hash()` when available
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
Labels: python, improvement, non-breaking

#1081 shuffle-benchmark: add `--partition-distribution`
  dask_cuda/benchmarks/local_cudf_shuffle.py
Labels: python, improvement, non-breaking

#1092 Fix whitespace & add URLs in `pyproject.toml`
  pyproject.toml
Labels: improvement, non-breaking

#1094 Update `cudf.Buffer` pointer access method
  dask_cuda/tests/test_proxify_host_file.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1091 pre-commit: spell, whitespace, and mypy check
  .pre-commit-config.yaml
  .readthedocs.yml
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/disk_io.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/initialize.py
  dask_cuda/is_spillable_object.py
  dask_cuda/proxify_device_objects.py
  dask_cuda/proxify_host_file.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_cudf_builtin_spilling.py
  dask_cuda/utils.py
  docs/Makefile
  docs/source/api.rst
  docs/source/examples/best-practices.rst
  docs/source/ucx.rst
  rtd/Makefile
Labels: python, improvement, non-breaking

#1098 pre-commit: Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: bug, non-breaking
