Repository rapidsai/dask-cuda, pull requests merged in 2023-10, with the labels that each got.

#1255 Small reorganization and fixes for `test_spill`
  dask_cuda/tests/test_spill.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1230 Update plugins to inherit from ``WorkerPlugin``
  dask_cuda/utils.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1257 [RELEASE] dask-cuda v23.10
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_python.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/compat.py
  dask_cuda/device_host_file.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_from_array.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
  dask_cuda/utils.py
  dependencies.yaml
  pyproject.toml
Labels: python, conda, ci

#1259 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1260 Increase close timeout of `Nanny` in `LocalCUDACluster`
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1261 Update `shared-action-workflows` references
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1263 Move some `dask_cuda.utils` pieces to their own modules
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
  dask_cuda/utils.py
  dask_cuda/utils_test.py
  dask_cuda/worker_spec.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#1264 Unpin `dask` and `distributed` for `23.12` development
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/compat.py
  dask_cuda/device_host_file.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dependencies.yaml
  pyproject.toml
Labels: 5 - Ready to Merge, python, improvement, non-breaking, conda

#1266 Reenable tests that were segfaulting
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, 0 - Blocked, python, non-breaking

#1267 Generate proper, consistent nightly versions for pip and conda packages
  MANIFEST.in
  VERSION
  ci/build_python.sh
  ci/build_python_pypi.sh
  ci/release/update-version.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/VERSION
  dask_cuda/__init__.py
  dask_cuda/_version.py
  pyproject.toml
Labels: python, improvement, non-breaking, conda, ci

#1268 Add support for UCXX
  ci/test_python.sh
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_from_array.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  dependencies.yaml
Labels: python, 3 - Ready for Review, feature request, non-breaking, ci
