Repository rapidsai/dask-cuda, pull requests merged in 2023-07, with the labels that each got.

#1207 Clarify `memory_limit` docs
  dask_cuda/cli.py
  dask_cuda/local_cuda_cluster.py
Labels: python, 3 - Ready for Review, doc, non-breaking

#1209 Use minimal Numba dependencies for CUDA 12
  dependencies.yaml
Labels: improvement, non-breaking

#1212 Ensure plugin config can be passed from worker to client
  dask_cuda/utils.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1210 Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
