Repository rapidsai/dask-cuda, pull requests merged in 2023-06, with the labels that each got.

#1187 Remove documentation build scripts for Jenkins
  ci/docs/build.sh
Labels: improvement, non-breaking, ci

#1190 Specify disk spill compression based on Dask config
  dask_cuda/device_host_file.py
  dask_cuda/tests/test_spill.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1189 Unpin `dask` and `distributed` for development
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1192 Increase minimum timeout to wait for workers in CI
  ci/test_python.sh
  dask_cuda/utils.py
Labels: bug, python, 3 - Ready for Review, non-breaking, ci

#1193 Increase minimum timeout to wait for workers in CI
  ci/test_python.sh
  dask_cuda/utils.py
Labels: bug, python, 3 - Ready for Review, non-breaking, ci

#1196 Increase pytest CI timeout
  ci/test_python.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci

#1197 Forward-merge branch-23.06 to branch-23.08
  ci/test_python.sh
Labels: ci

#1191 Remove code for Distributed<2023.5.1 compatibility
  dask_cuda/device_host_file.py
  dask_cuda/tests/test_device_host_file.py
Labels: 5 - Ready to Merge, python, feature request, non-breaking

#1188 [RELEASE] dask-cuda v23.06
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  ci/build_docs.sh
  ci/build_python_pypi.sh
  ci/release/update-version.sh
  ci/test_python.sh
  dask_cuda/cli.py
  dask_cuda/device_host_file.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_spill.py
  dask_cuda/utils.py
  dependencies.yaml
  docs/source/examples/best-practices.rst
  docs/source/examples/ucx.rst
  docs/source/quickstart.rst
  pyproject.toml
  setup.py
Labels: python, ci

#1194 use rapids-upload-docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1200 Adjust to new `get_default_shuffle_method` name
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
Labels: bug, 3 - Ready for Review, non-breaking

#1199 Remove explicit UCX config from tests
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxy.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#925 Use KvikIO in Dask-CUDA
  ci/release/update-version.sh
  dask_cuda/disk_io.py
  dependencies.yaml
Labels: 4 - Needs Reviewer, python, improvement, non-breaking, conda, ci

#1201 CUDA 12 Support
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking

#1205 Aggregate reads & writes in `disk_io`
  dask_cuda/disk_io.py
Labels: python, improvement, non-breaking

#1204 Remove versioneer
  .pre-commit-config.yaml
  ci/build_python_pypi.sh
  ci/release/update-version.sh
  codecov.yml
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/_version.py
  pyproject.toml
  setup.py
Labels: python, 3 - Ready for Review, feature request, non-breaking, conda, ci
