Repository rapidsai/dask-cuda, pull requests merged in 2023-05, with the labels that each got.

#1168 Remove `matrix_filter` from workflows
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: 3 - Ready for Review, improvement, non-breaking, gpuCI

#1171 Revert "Temporarily relax Python constraint"
  dask_cuda/device_host_file.py
  pyproject.toml
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1172 Fix GHAs Workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_python_pypi.sh
  setup.py
Labels: improvement, non-breaking, ci

#1175 Workaround for `DeviceHostFile` tests with CuPy>=12.0.0
  dask_cuda/tests/test_device_host_file.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1176 run docs nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#1177 Always upload on branch/nightly builds
  .github/workflows/build.yaml
Labels: bug, non-breaking

#1182 Disable `np.bool` deprecation warning
  pyproject.toml
Labels: bug, 3 - Ready for Review, non-breaking

#1181 Add `__main__` entrypoint to dask-cuda-worker CLI
  dask_cuda/cli.py
Labels: python, improvement, non-breaking

#1185 Require Numba 0.57.0+
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, feature request, non-breaking
