Repository rapidsai/dask-cuda, pull requests merged in 2023-11, with the labels that each got.

#1269 Remove `ucp.reset()` requirement from `test_dgx`
  dask_cuda/tests/test_dgx.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#1270 Use new `rapids-dask-dependency` metapackage for managing dask versions
  ci/release/update-version.sh
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda, ci

#1273 Add missing alpha spec
  ci/build_python_pypi.sh
  ci/test_python.sh
Labels: bug, non-breaking, ci

#1275 Fix rapids dask dependency version
  dependencies.yaml
Labels: bug, non-breaking

#1277 Fix path
  ci/build_python_pypi.sh
Labels: bug, non-breaking, ci

#1276 Generate pyproject.toml with dfg
  .pre-commit-config.yaml
  ci/release/update-version.sh
  dependencies.yaml
  pyproject.toml
Labels: bug, non-breaking, ci

#1279 Make versions PEP440 compliant
  ci/release/update-version.sh
  dependencies.yaml
  pyproject.toml
Labels: bug, non-breaking, ci

#1282 Build concurrency for nightly and merge triggers
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#1272 Set minimum click to 8.1
  pyproject.toml
Labels: bug, non-breaking

#1286 Branch 24.02 merge branch 23.12
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking
