Repository rapidsai/dask-cuda, pull requests merged in 2023-09, with the labels that each got.

#1231 Use `conda mambabuild` not `mamba mambabuild`
  ci/build_python.sh
Labels: bug, non-breaking, ci

#1233 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1234 Increase test timeouts further to reduce CI failures
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_spill.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1241 Remove obsolete pytest `filterwarnings`
  pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking

#1240 Explicit-comms: preserve partition IDs
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, python, non-breaking

#1247 Monkeypatch protocol.loads ala dask/distributed#8216
  dask_cuda/__init__.py
  dask_cuda/compat.py
  dask_cuda/tests/test_from_array.py
Labels: bug, python, non-breaking

#1243 Update `test_spill.py` to avoid `FutureWarning`s
  dask_cuda/tests/test_spill.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#1251 Pin `dask` and `distributed` for `23.10` release
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1238 dask-cuda: Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
