Repository rapidsai/dask-cuda, pull requests merged in 2023-04, with the labels that each got.

#1153 [REVIEW] Pin `dask` and `distributed` for release
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, improvement, breaking

#1155 Rectify `dask-core` pinning in pip requirements
  conda/recipes/dask-cuda/meta.yaml
  dependencies.yaml
  pyproject.toml
Labels: bug, non-breaking, conda

#1157 [doc] Add document about main guard.
  docs/source/examples/best-practices.rst
  docs/source/examples/ucx.rst
  docs/source/quickstart.rst
Labels: doc, non-breaking

#1158 [RELEASE] dask-cuda v23.04
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload-pypi.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_device_host_file.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_spill.py
  dask_cuda/tests/test_utils.py
  dask_cuda/utils.py
  dependencies.yaml
  pyproject.toml
Labels: python, gpuCI, conda

#1159 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1160 Update to zict 3.0
  dask_cuda/tests/test_spill.py
  dependencies.yaml
  pyproject.toml
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1163 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1164 Update minimum Python version to Python 3.9
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dask_cuda/device_host_file.py
  dependencies.yaml
  pyproject.toml
Labels: python, improvement, breaking

#1166 Temporarily relax Python constraint
  dask_cuda/device_host_file.py
  pyproject.toml
Labels: bug, python, 3 - Ready for Review, non-breaking

#1167 Revert to branch-23.06 for shared-action-workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: 3 - Ready for Review, improvement, non-breaking
