Repository rapidsai/dask-cuda, pull requests merged in 2023-03, with the labels that each got.

#1138 Update `rmm_cupy_allocator` usage
  dask_cuda/benchmarks/utils.py
Labels: bug, python, non-breaking

#1139 [REVIEW] Update minimum `pandas` and `numpy` pinnings
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, improvement, breaking

#1140 Reinstate `--death-timeout` CLI option
  dask_cuda/cli.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1141 Update usage of `get_worker()` in tests
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_spill.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1142 Monkey patching all locations of `get_default_shuffle_algorithm`
  dask_cuda/__init__.py
Labels: bug, python, non-breaking

#1145 Add argument to enable RMM alloaction tracking in benchmarks
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
Labels: 3 - Ready for Review, feature request, non-breaking
