Repository rapidsai/dask-cuda, pull requests merged in 2024-12, with the labels that each got.

#1413 Update version references in workflow
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1418 Add missing `setuptools` to conda recipe
  conda/recipes/dask-cuda/meta.yaml
Labels: bug, 3 - Ready for Review, non-breaking, conda

#1420 Add warnings and docs for affinity set failure
  dask_cuda/plugins.py
  docs/source/troubleshooting.rst
Labels: bug, python, 3 - Ready for Review, non-breaking

#1421 Always test `pynvml`
  dask_cuda/tests/test_utils.py
Labels: python, 3 - Ready for Review, improvement, non-breaking

#1419 Use PyNVML 12
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda
