Repository rapidsai/dask-cuda, pull requests merged in 2024-08, with the labels that each got.

#1370 [RELEASE] dask-cuda v24.08
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/_version.py
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
  dask_cuda/tests/test_cudf_builtin_spilling.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_version.py
  dependencies.yaml
  docs/source/explicit_comms.rst
  docs/source/install.rst
  pyproject.toml
  setup.py
Labels: python, conda, ci

#1373 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1377 Drop Python 3.9 support
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1375 Remove NumPy <2 pin
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1379 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1371 [Benchmark] Add parquet read benchmark
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/read_parquet.py
  dask_cuda/benchmarks/utils.py
Labels: 5 - Ready to Merge, python, feature request, non-breaking
