Repository rapidsai/dask-cuda, pull requests merged in 2024-03, with the labels that each got.

#1320 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1321 Relax type-check in ``test_proxy.py``
  dask_cuda/tests/test_proxy.py
Labels: bug, 5 - Ready to Merge, non-breaking

#1322 Skip explicit-comms tests when dask-expr is active
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, python, non-breaking

#1326 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci
