Repository rapidsai/dask-cuda, pull requests merged in 2024-09, with the labels that each got.

#1382 enable Python 3.12 tests on PRs
  .github/workflows/pr.yaml
Labels: 2 - In Progress, improvement, non-breaking

#1383 Add notes on cudf spilling to docs
  docs/source/examples/best-practices.rst
  docs/source/spilling.rst
Labels: 5 - Ready to Merge, doc, non-breaking

#1384 Fix typo in spilling documentation
  docs/source/examples/best-practices.rst
  docs/source/spilling.rst
Labels: 5 - Ready to Merge, doc, non-breaking

#1385 Update to flake8 7.1.1.
  .pre-commit-config.yaml
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/tests/test_gds.py
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_proxy.py
Labels: python, improvement, non-breaking

#1386 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1387 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci
