Repository rapidsai/dask-cuda, pull requests merged in 2024-02, with the labels that each got.

#1302 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: feature request, non-breaking, conda

#1309 [RELEASE] dask-cuda v24.02
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_python_pypi.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/get_device_memory_objects.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_proxify_host_file.py
  dependencies.yaml
  pyproject.toml
Labels: python, conda, ci

#1312 Filter dd deprecation
  dask_cuda/__init__.py
  pyproject.toml
Labels: python, 3 - Ready for Review, improvement, non-breaking

#1314 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1310 Update ops-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#1315 Add support for Python 3.11
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1316 Requre NumPy 1.23+
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1318 Generalize GHA selectors for pure Python testing
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking
