Repository rapidsai/dask-cuda, pull requests merged in 2024-01, with the labels that each got.

#1300 Update to Dask's `shuffle_method` kwarg
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: bug, 3 - Ready for Review, non-breaking

#1301 Prevent double UCX initialization in `test_dgx`
  dask_cuda/tests/test_dgx.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1303 refactor CUDA versions in dependencies.yaml
  .pre-commit-config.yaml
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#1304 Remove usages of rapids-env-update
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#1308 Allow using pandas 2
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: feature request, non-breaking, conda

#1307 handle more RAPIDS version formats in update-version.sh
  ci/release/update-version.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci
