Repository rapidsai/dask-cuda, pull requests merged in 2024-07, with the labels that each got.

#1354 Drop `setup.py`
  setup.py
Labels: improvement, non-breaking

#1356 Fix partitioning in explicit-comms shuffle
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, 5 - Ready to Merge, python, non-breaking

#1357 Build and test with CUDA 12.5.1
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking, conda

#1359 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1360 Use verify-alpha-spec hook
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1362 Add arguments to enable cuDF spilling and set statistics
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1364 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking

#1367 consolidate cuda_suffixed=false blocks in dependencies.yaml, fix update-version.sh
  ci/release/update-version.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#1368 Merge branch-24.08 into branch-24.10
  ci/release/update-version.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda, ci

#1369 Replace cuDF (de)serializer with cuDF spill-aware (de)serializer
  dask_cuda/__init__.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_spill.py
Labels: python, 3 - Ready for Review, feature request, breaking
