Repository rapidsai/dask-cuda, pull requests merged in 2024-04, with the labels that each got.

#1329 Fix broken links in docs
  ci/release/update-version.sh
  docs/source/api.rst
  docs/source/examples/ucx.rst
  docs/source/explicit_comms.rst
  docs/source/index.rst
  docs/source/spilling.rst
  docs/source/ucx.rst
Labels: 3 - Ready for Review, doc, non-breaking, ci

#1330 Trap CI test errors with their original exit codes
  ci/test_python.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#1323 Update explicit-comms for dask-expr support
  ci/test_python.sh
  dask_cuda/__init__.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, 5 - Ready to Merge, python, non-breaking, ci

#1324 [RELEASE] dask-cuda v24.04
  .github/ops-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  VERSION
  ci/build_docs.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dask_cuda/__init__.py
  dependencies.yaml
  pyproject.toml
Labels: python, conda, ci

#1325 Prevent path conflict in builds
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#1337 Fix license name
  pyproject.toml
Labels: bug, non-breaking
