Repository rapidsai/dask-cuda, pull requests merged in 2024-06, with the labels that each got.

#1341 [RELEASE] dask-cuda v24.06
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_proxy.py
  dependencies.yaml
  docs/source/api.rst
  docs/source/examples/ucx.rst
  docs/source/explicit_comms.rst
  docs/source/index.rst
  docs/source/spilling.rst
  docs/source/ucx.rst
  pyproject.toml
Labels: python, conda, ci

#1347 Adopt CI/packaging codeowners
  .github/CODEOWNERS
Labels: improvement, non-breaking

#1346 Remove text builds of documentation
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#1343 use rapids-build-backend
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/_version.py
  dask_cuda/tests/test_version.py
  dependencies.yaml
  pyproject.toml
Labels: python, 3 - Ready for Review, improvement, non-breaking, conda, ci

#1350 remove .gitattributes
  .gitattributes
Labels: improvement, non-breaking

#1353 Update cuDF's `assert_eq` import
  dask_cuda/tests/test_cudf_builtin_spilling.py
Labels: bug, python, 3 - Ready for Review, non-breaking

#1352 Allow disabling RMM in benchmarks
  ci/test_python.sh
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cli.py
  dask_cuda/local_cuda_cluster.py
Labels: python, 3 - Ready for Review, feature request, non-breaking, ci
