Repository rapidsai/dask-cuda, pull requests merged in 2024-11, with the labels that each got.

#1389 Switch pytest `traceback` to `native`
  dask_cuda/tests/pytest.ini
Labels: python, improvement, non-breaking

#1402 Add warmup runs and profile all iterations to benchmarks
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
Labels: python, 3 - Ready for Review, improvement, breaking

#1406 Disable UCXX tests in CI
  ci/test_python.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci

#1130 Update PyNVML and set upper pin
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, conda

#1403 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1412 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking
