Repository rapidsai/dask-cuda, pull requests merged in 2024-10, with the labels that each got.

#1393 Limit output of pytest durations
  ci/test_python.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#1395 make conda installs in CI stricter
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#1392 Enable Pytorch to share same memory pool as RMM via cli
  dask_cuda/cli.py
  dask_cuda/cuda_worker.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/plugins.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, feature request, non-breaking

#1396 Reenable UCXX in CI
  ci/test_python.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci

#1400 remove unnecessary cmake and sccache configuration
  .pre-commit-config.yaml
  ci/build_python.sh
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci
