Repository rapidsai/dask-cuda, pull requests merged in 2025-02, with the labels that each got.

#1439 Make `dask.dataframe` optional
  dask_cuda/__init__.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_initialize.py
Labels: 5 - Ready to Merge, python, improvement, non-breaking

#1440 Reorganize CI tests and benchmarks
  ci/run_benchmarks.sh
  ci/run_pytest.sh
  ci/test_python.sh
  ci/test_wheel.sh
  dask_cuda/tests/test_dask_cuda_worker.py
Labels: bug, python, 3 - Ready for Review, non-breaking, ci

#1443 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#1444 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1445 add telemetry
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1446 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1423 Add verify-copyright pre-commit hook
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1438 [RELEASE] dask-cuda v25.02
  .github/copy-pr-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  VERSION
  ci/build_docs.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/run_benchmarks.sh
  ci/run_pytest.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/validate_wheel.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/dask-cuda/meta.yaml
  dask_cuda/__init__.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/read_parquet.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/plugins.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_utils.py
  dependencies.yaml
  docs/source/explicit_comms.rst
  docs/source/install.rst
  docs/source/troubleshooting.rst
  docs/source/ucx.rst
  pyproject.toml
Labels: python, conda, ci

#1448 Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_python.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#1451 Avoid stale CommContext in explicit comms
  dask_cuda/explicit_comms/comms.py
  dask_cuda/tests/test_explicit_comms.py
  docs/source/explicit_comms.rst
Labels: bug, python, non-breaking

#1453 ensure dask_cuda.__git_commit__ is populated
  .pre-commit-config.yaml
  MANIFEST.in
Labels: improvement, non-breaking

#1454 Use conda-build instead of conda-mambabuild
  ci/build_python.sh
Labels: improvement, non-breaking, ci
