Repository rapidsai/dask-cuda, pull requests merged in 2025-04, with the labels that each got.

#1461 Enable UCXX nightly tests
  .github/workflows/test.yaml
  .github/workflows/test_ucxx.yaml
  ci/test_python.sh
Labels: feature request, non-breaking, ci

#1462 Workaround hang with dask main and explicit comms
  dask_cuda/_compat.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
Labels: bug, python, non-breaking

#1463 Add missing `runs-on` to `ucxx-python-tests`
  .github/workflows/test.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#1460 Port all conda recipes to `rattler-build`
  ci/build_python.sh
  conda/recipes/dask-cuda/meta.yaml
  conda/recipes/dask-cuda/recipe.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda, ci

#1456 [RELEASE] dask-cuda v25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  MANIFEST.in
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/comms.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_initialize.py
  dependencies.yaml
  docs/source/explicit_comms.rst
  pyproject.toml
Labels: python, conda, ci

#1457 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci

#1458 chore(conda): enable strict channel priority for conda build
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#1468 Register OwnerWithCAI with dask.utils.sizeof
  dask_cuda/get_device_memory_objects.py
  dask_cuda/tests/test_proxify_host_file.py
Labels: bug, python, non-breaking

#1469 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/test_python.sh
  ci/test_wheel.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#1471 Make workflows reusable
  .github/workflows/build.yaml
  .github/workflows/nightly-pipeline.yaml
  .github/workflows/test-ucxx.yaml
Labels: bug, 3 - Ready for Review, non-breaking, ci
