Repository rapidsai/dask-cuda, pull requests merged in 2025-09, with the labels that each got.

#1546 Remove UCX-Py support
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_python_ucxx.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/cuda_worker.py
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dgx.py
  dask_cuda/tests/test_explicit_comms.py
  dask_cuda/tests/test_from_array.py
  dask_cuda/tests/test_initialize.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/tests/test_proxy.py
  dask_cuda/tests/test_rdd_ucx.py
  dask_cuda/tests/test_utils.py
  dask_cuda/tests/test_worker_spec.py
  dask_cuda/utils.py
  dask_cuda/utils_test.py
  dask_cuda/worker_spec.py
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, feature request, breaking

#1550 Use branch-25.10 again
  .github/workflows/build-ucxx.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-ucxx.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1553 Prevent NVML errors in single-GPU test environments
  dask_cuda/initialize.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1538 Adding in rapidsmpf shuffle
  dask_cuda/benchmarks/common.py
  dask_cuda/benchmarks/local_cudf_groupby.py
  dask_cuda/benchmarks/local_cudf_merge.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/local_cupy.py
  dask_cuda/benchmarks/local_cupy_map_overlap.py
  dask_cuda/benchmarks/read_parquet.py
  dask_cuda/benchmarks/utils.py
Labels: improvement, non-breaking

#1562 Fixes for `test_worker_force_spill_to_disk`
  dask_cuda/tests/test_proxify_host_file.py
Labels: improvement, non-breaking

#1563 Deprecate rmm_pool_size and rmm_async
  ci/run_benchmarks.sh
  dask_cuda/benchmarks/utils.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_local_cuda_cluster.py
  docs/source/ucx.rst
Labels: improvement, non-breaking
