Repository rapidsai/dask-cuda, pull requests merged in 2025-08, with the labels that each got.

#1527 Update rapids-build-backend to 0.4.1
  MANIFEST.in
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/dask-cuda/recipe.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1528 ci(labeler): update labeler action to @v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: improvement, non-breaking

#1532 Fix anchor naming conventions in dependencies.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#1535 Update to numba-cuda >=0.19.0,<0.20.0a0
  .github/workflows/pr.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/dask-cuda/recipe.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking

#1537 Use cuda-core for context initialization.
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dask_cuda/initialize.py
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking

#1539 Fix test wheels for local CI runs
  ci/test_wheel.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci

#1541 Fix `dask_setup` and cleanup
  dask_cuda/initialize.py
  dask_cuda/local_cuda_cluster.py
  dask_cuda/tests/test_dask_setup.py
Labels: bug, 3 - Ready for Review, non-breaking

#1543 `get_device_memory_objects()`: use _columns instead of _value
  dask_cuda/get_device_memory_objects.py
Labels: bug, non-breaking

#1544 restore cudf dependency
  ci/run_benchmarks.sh
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking
