Repository rapidsai/dask-cuda, pull requests merged in 2025-05, with the labels that each got.

#1475 feat: add support for Python 3.13
  .github/workflows/build-ucxx.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-ucxx.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-114_arch-aarch64.yaml
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1476 Add function to get device handle and fix MIG handle
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
Labels: python, 3 - Ready for Review, improvement, breaking

#1478 Forward-merge branch-25.06 into branch-25.08
  conda/environments/all_cuda-114_arch-aarch64.yaml
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1479 chore: bump upper bound of numba for python 3.13 support
  conda/environments/all_cuda-114_arch-aarch64.yaml
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/dask-cuda/recipe.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1480 chore: set remaining workflows to python3.13
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1481 Build and test with CUDA 12.9.0
  .github/workflows/build-ucxx.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-ucxx.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking, conda

#1482 Quote head_rev in conda recipes
  conda/recipes/dask-cuda/recipe.yaml
Labels: improvement, non-breaking, conda

#1483 Forward-merge branch-25.06 into branch-25.08
  conda/environments/all_cuda-114_arch-aarch64.yaml
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/dask-cuda/recipe.yaml
  dask_cuda/tests/test_dask_cuda_worker.py
  dask_cuda/tests/test_local_cuda_cluster.py
  dask_cuda/utils.py
  dependencies.yaml
  docs/source/install.rst
  pyproject.toml
Labels: python, improvement, non-breaking, conda

#1485 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .github/workflows/build-ucxx.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-ucxx.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  docs/source/install.rst
Labels: improvement, non-breaking

#1487 Fix persist usage in tests
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_spill.py
Labels: python, improvement, non-breaking

#1489 Forward-merge branch-25.06 into branch-25.08
  dask_cuda/tests/test_proxify_host_file.py
  dask_cuda/tests/test_spill.py
  docs/source/install.rst
Labels: python, improvement, non-breaking

#1488 Prepare for removal of cudf.BaseIndex
  dask_cuda/is_device_object.py
  dask_cuda/is_spillable_object.py
  dask_cuda/proxify_device_objects.py
Labels: python, improvement, non-breaking

#1492 Fixed flaky `test_cudf_cluster_device_spill` test
  dask_cuda/tests/test_spill.py
Labels: python, improvement, non-breaking

#1494 Add UCXX blocking tests in nightly CI runs
  .github/workflows/build-ucxx.yaml
  ci/run_benchmarks.sh
  ci/test_python_ucxx.sh
Labels: 3 - Ready for Review, feature request, non-breaking, ci

#1496 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build-ucxx.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#1499 provide input 'script' for build workflow
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#1501 stop uploading packages to downloads.rapids.ai
  ci/build_python.sh
  ci/build_wheel.sh
Labels: improvement, breaking, ci
