Repository rapidsai/dask-cuda, pull requests merged in 2025-01, with the labels that each got.

#1416 Add wheel tests to CI
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
  dependencies.yaml
  pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#1417 Remove legacy Dask-cuDF handling
  ci/test_python.sh
  dask_cuda/__init__.py
  dask_cuda/benchmarks/local_cudf_shuffle.py
  dask_cuda/benchmarks/read_parquet.py
  dask_cuda/benchmarks/utils.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/tests/test_explicit_comms.py
  pyproject.toml
Labels: 5 - Ready to Merge, python, feature request, breaking, ci

#1424 Clean up imports for `dask>2024.12.1` support
  dask_cuda/__init__.py
  dask_cuda/explicit_comms/dataframe/shuffle.py
  dask_cuda/proxy_object.py
  dask_cuda/tests/test_proxy.py
Labels: bug, 5 - Ready to Merge, python, non-breaking

#1426 Add upper bound to prevent usage of numba 0.61.0
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking, conda

#1425 Template Conda recipe's `requirements/host`
  conda/recipes/dask-cuda/meta.yaml
Labels: improvement, non-breaking, conda

#1427 Add shellcheck to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking, ci

#1428 Introduce UCX connect timeouts in docs
  docs/source/ucx.rst
Labels: 3 - Ready for Review, doc, non-breaking

#1429 remove ucx-proc dependency
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#1431 Merge branch-25.02 into branch-25.04
  conda/environments/all_cuda-114_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#1432 Build and test with CUDA 12.8.0
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking, conda

#1436 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1437 Forward-merge branch-25.02 to branch-25.04
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/install.rst
Labels: improvement, non-breaking, conda

#1435 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking
